body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

h3,p{
    direction: rtl;
}

p{
    font-size: 15px;
}
h1{
    text-align: center;
}
h4.modal-title {
    text-align: center;
}