/*all items*/
body{
    width: 100%;
    margin: 0px auto;
    text-align: right;
    background-color: #f2f2f2;

}

nav #ulBig {
    list-style: none;
    text-align: center;
    list-style-type: none;
    background-color: #444;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 5px;
}
/*for one item*/
nav .liBig {
    font-family: "arial",sans-serif;
    font-size:15px;
    line-height: 30px;
    list-style-type: none;
    display: inline-block;
    width: 10%;
    border-bottom: 1px solid #888;
}

#ulSmall{
    list-style: none;
    text-align: center;
    list-style-type: none;
    background-color: #444;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 5px;
}
.ilSmall {
    font-family: "arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    list-style-type: none;
    width: 100%;
    border-bottom: 1px solid #888;
}
nav li:hover{
    background-color: #005f5f;
}
/*to delete the blue underline*/
nav label {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}
nav a:hover {
    background-color: #005f5f;
}

#icon{
    display:block;
    background-color: #d9d9d9;
}
.loginLink{
    direction: rtl;
    width: 100%;
    float: right;
    font: bold 12px arial;
    display:flex;
    white-space:pre;
}
.newsProduct{
    width: 100%;
    height: 25%;
    float: right;
}
.mainDiv{
    width: 100%;
    margin-right: 5px;
    height: 600px;
}
#navAddItemTag ,#navAddItemTaga{
    background: blue;
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }

/* */
#displayTwentyLastProducts{
    display: flex;
    width: 100%;
    height: 25%;
    float: left;

}
.displayOneLastProduct{
    display: flex;
    border-style: groove;
    width: 25%;
    margin: 0.5%;
    height: 90%;
    float: left;
}
.imagesEntryProducts{
    width: 90%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.showProductDetailsEntry{
    margin: 5%;
    width: 100%;
    height: 100%;
    direction: rtl;
}

.companyNameEntry ,.productNameEntry{
    font-size: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    width: 100%;
}
