
.imageProduct, .descriptionProduct {
    float: right;
    direction: rtl !important;
}
.col-lg-4{
    float: left;
}
.col-xs-5 {
    text-align: center;
}

@media (min-width: 0px) and (max-width: 550px) {
    .panel-default {
        direction: rtl !important;
        display: inline-block !important;
    }

}
@media (min-width: 550px){
    .panel-default {
        display: flex !important;
        direction: rtl !important;
    }

}

.btn-product {
    direction: ltr !important;

}

.modal-body{
    direction: rtl !important;
}

.selectpicker{
    direction: rtl;
}



#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
form.navbar-form.navbar-right.ng-pristine.ng-valid {
    display: flex;
}



.labelVideo{
    font-size: 19px;
}
.rtlStyle.ng-scope {
    margin-bottom: 20px;
}

div#name {
    text-align: right;
    color: green;
}

#imgeUser{
    width: 35px;
}

span#spanName {
    font-size: larger;
}
.productPrice{
    font-size: larger;
    color: mediumblue;
}
h4.modal-title {
    text-align: center;
}

.boxOFConnection{
    text-align: center;
}
.btnAddPeople {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
p {
    margin: 4px;
}

.credit-card-div  span {
    padding-top:10px;
}
.credit-card-div img {
    padding-top:30px;
}
.credit-card-div .small-font {
    font-size:9px;
}
.credit-card-div .pad-adjust {
    padding-top:10px;
}