.form-login{
    padding: 10%;
}
#MainForm_login{
    border-style: groove;
}

legend{
    direction: rtl;
}
.modal-body {
    direction: rtl !important;
}
.container {
    display: grid !important;
}